/* Mohon Card */
.course-card-mohon-2  {
    height: max-content;
}

/* Mohon Button */
.btn-mohon-2 {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    width: 45% !important;
    background-color: #ff0000;
}

.btn-mohon-2:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 10px 0 rgba(16, 18, 19, 0);
}

.btn-mohon-3 {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 5px;
    width: 45% !important;
    background-color: #ffffff;
    color: #ff0000;
    border: 2px solid #ff0000;
}

.btn-mohon-3:hover {
    transform: translateY(-7px);
    color: #ff0000;
    box-shadow: 0 5px 10px 0 rgba(16, 18, 19, 0);
}

.button-row-2 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .button-row-2 {
        margin-top: 30px;
    }
}

/* Apply Form File Upload */
.upload-info {
  font-size: 13px;
  display: block;
  margin-bottom: 5px;
}
.upload-container {
  display: flex;
  position: relative;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  min-height: 30px;
}
.upload-container input[type="file"] {
  display: none;
}
.file-name {
  flex: 1;
  display: block;
  width: 100%;
  height: 36px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 11px;
  line-height: 2;
  padding: .375rem .75rem;
  appearance: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.upload-btn {
  height: 36px;
  line-height: 36px;
  padding: 0 15px;
/* background-color: #00cfff; */
  background-color: #fbd45b;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
}
.upload-btn:hover {
  background-color: #00b6e6;
}

.upload-btn1 {
  background-color: #044bd9 !important;
  color: #ffffff !important;
  position: absolute;
  right: 0px;
  padding: 8px 20px;
  border-radius: .25rem;
  font-size: 14px;
  cursor: pointer;
}

.upload-btn1:before {
  top: -35%;
}

.text-grey-custom {
  color: #98a8a5;
}

@media (max-width: 500px) {
  .upload-container {
    flex-direction: row;
    align-items: center;
  }
  .upload-btn1 {
    padding: 8px 15px;
  }
}

/* Messages */
.unsuccessful-message {
  display: none;
  color: red;
  background-color: #fff;
  padding-left: 5px;
}

.process-message {
  display: none;
  color: #044bd9;
  background: #fff;
  border: 1px solid #044bd9;
  padding: 20px;
  font-weight: 500;
}

.error-message-2 {
  text-align: center;
  background-color: #fff;
  color: red;
  border: 1px solid red;
  line-height: 35px;
  margin-top: 16px;
  font-size: 14px;
}

.unsuccessfully-message-2 {
  display: none;
  color: red;
  font-size: 14px;
  text-align: center;
  border: 1px solid red;
  margin-top: 20px;
  line-height: 35px;
}

@media (max-width: 768px) {
  .error-message-2 {
    line-height: 30px;
    font-size: 12px;
  }

  .unsuccessfully-message-2 {
    line-height: 18px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
