/* Header */
.site_header {
    left: 8vw;
    right: 8vw;
    padding: 22px 0;
    background: #044BD9;
}

.img-75 {
    height: 100px !important;
}

/* .main_menu_list {
    column-gap: 33px;
} */

/* .main_menu_list .dropdown-menu {
    border: 2px solid #044bd9;
    box-shadow: -6px 6px 0 0 rgb(4 75 217);
} */


/* @media (min-width: 1600px) {

} */

@media (min-width: 991px) {
    .site_header_1 + main {
        padding-top: 120px;
    }
}

@media (max-width: 991px) {
    .main_menu_inner {
        background-color: #044bd9;
    }

    .site_logo {
        display: none;
    }
}

@media (max-width: 500px) { 
    .site_header {
        padding: 16px 0 !important;
    }

    .mobile_menu_btn {
        color: #ffffff;
    }

    .mobile_menu_btn:hover {
        color: #ffffff;
    }

    .main_menu {
        left: 8vw;
        right: 8vw;
        top: 90px !important;
    }

    .main_menu_inner {
        border-radius: 5px;
    }

    .main_menu_list .dropdown-menu {
        border: 2px solid #044bd9;
    }

}

.main_menu_list .dropdown-menu > li:hover > a,
.main_menu_list .dropdown-menu > li.active > a {
    background-color: #F20505;
    color: white;
}

.main_menu_list .dropdown-menu > li:hover > a:before {
    background: white;
}

@media (max-width: 425px) {

}

@media (max-width: 376px) {
    
}


.container-apply-header {
    padding-top: 80px;
}

.banner-apply-header {
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}

@media (max-width: 500px) { 
    .container-apply-header {
        padding-top: 25px;
    }
}

/* Mohon Sekarang Button */
.btn_semak_layak {
    color: #F20505;
    background-color: #ffffff;
    border: 2px solid #F20505;
}

.btn_semak_layak:hover {
    transform: scale(1.08);
    border-color: #F20505;
    box-shadow: 0px 15px 35px rgba(26, 183, 154, 0.2);
    color: #F20505;
}

/* Apply Form */
@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'), 
         url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'), 
         url('material-design-iconic-font/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.zmdi {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.zmdi-caret-down:before {
    content: '\f2f2';
}

.bg-apply-1 {
    background-color: #044bd9;
}

.section-space-mohon-lg {
    padding-top: 90px;
    padding-bottom: 90px;
}

.z-index-10 {
    z-index: 10;
}

.container-mohon {
    display: flex;
    justify-content: center;
}

.row-mohon-1 {
    justify-content: space-evenly;
}

.mohon-rules {
    margin-top: 35px;
}

.mohon-rules-top {
    text-align: center;
}

.mohon-rules-top img {
    width: 42%;
}

.mohon-rules-bottom {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 20px;
}

.mohon-rules-bottom img {
    width: 85%;
}

.h-max {
    height: max-content;
}

.course-card-mohon {
    padding: 30px;
    border-radius: 1px;
    background-color: #ffffff;
    border: 2px solid #D2D2D2;
}

.course-card-mohon form {
    margin-top: 0 !important;
}

.inner-mohon {
    display: flex;
    column-gap: 50px;
}

.sec-relative {
    position: relative;
}

.pos-relative {
    position: relative;
}

.form-mohon-content .form-header {
    margin-top: 8px;
    margin-bottom: 25px;
}

.form-mohon-content .form-header p {
    font-weight: 500;
    font-size: 15px;
}

.form-mohon-content .form-header span {
    display: block;
    font-style: italic;
    text-align: justify;
    font-size: 15px;
    color: #29281e;
}

.form-mohon-content .form-row label {
    font-size: 11px;
    margin-left: 10px;
}

.form-mohon-content .form-row input {
    font-size: 12px;
}

.form-mohon-content .form-row select {
    font-size: 12px;
    /* color: #6c757d; */
}

.form-mohon-content .form-row {
    display: flex;
    column-gap: 30px;
    margin-bottom: 11px;
}

.form-mohon-content .form-row .form-holder {
    width: 50%;
}

.form-control:focus {
    border-color: #1ab79a;
    outline: 0;
    box-shadow: none;
}

.form-mohon-content .form-holder i.zmdi-caret-down {
    position: absolute;
    right: 15px;
    top: 50%;
    pointer-events: none;
    font-size: 25px;
    color: #909090;
}

.button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.btn-mohon {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    width: 95% !important;
    background-color: #ff0000;
}

.btn-mohon:hover {
    transform: translateY(-7px);
    box-shadow: 0 5px 10px 0 rgba(16, 18, 19, 0);
}

.checkbox-row {
    margin-top: 20px;
}

.checkbox-holder {
    display: flex;
    align-items: baseline;
    margin-bottom: 8px;
}

.checkbox-box {
    flex-shrink: 0;
    position: relative;
}

.checkbox-box input[type="checkbox"] {
    appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid #c1c5c9;
    border-radius: 3px;
    /* margin-top: 4px; */
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    background-color: white;
}

.checkbox-box input[type="checkbox"]:checked {
    background-color: #ff0000;
}
  
.checkbox-box input[type="checkbox"]:checked::after {
    content: "✔";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    font-size: 12px;
    font-weight: 500;
}
  
.checkbox-text {
    font-size: 12px;
}
  
.checkbox-text a {
    color: #0984e3;
    text-decoration: none;
}

div#privacyPolicyModal {
    font-size: 14px;
}

div#termsOfUseModal {
    font-size: 14px;
}

.form-process {
  display: none;
  font-size: 13px;
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

.form-error {
  display: none;
  font-size: 13px;
  color: red;
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 11px;
  margin-left: 10px;
  margin-top: 2px;
}

.unsuccessfully-message {
  color: red;
  font-size: 14px;
  text-align: center;
  border: 1px solid red;
  margin-top: 20px;
  line-height: 35px;
}

.success-message-1 {
  display: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #1f1d0d;
}

.success-upload-message-1 {
  display: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #044bd9;
}



@media (max-width: 768px) {
    .success-message-1 {
        font-weight: 700;
        text-align: center;
    }

    .row-mohon-1 {
        row-gap: 15px;
    }

    .section-space-mohon-lg {
        padding-top: 35px;
    }

    .form-centered-img {
        display: none;
    }

    .form-mohon-content .form-header {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .form-mohon-content .form-header p {
        font-style: italic;
        font-size: 13px;
        margin-top: 15px;
    }

    .form-mohon-content .form-header span {
        display: block;
        font-style: italic;
        text-align: justify;
        font-size: 13px;
        margin-top: 15px;
    }

    .form-mohon-content .form-header h2 {
        text-align: center;
    }

    .form-mohon-content .form-row .form-holder {
        width: 100%;
    }

    .form-row-column {
        flex-direction: column;
    }

    .form-row-reverse {
        flex-direction: column-reverse;
    }

    .form-holder-mobile {
        margin-bottom: 11px;
    }

    .checkbox-text {
        font-size: 11px;
    }

    .button-row {
        margin-top: 30px;
    }

    .unsuccessfully-message {
        line-height: 18px;
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 1200px) {
    .modal-title-custom-1 {
        margin-left: 40%;
    }
}

/* Footer */
.site_footer .footer_widget_area {
    padding: 60px 0 60px;
}

.item_text_1 {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.item_text_2 {
    font-size: 14px;
}

.item_text_3 {
    font-size: 14px;
    color: #C8C8C8;
}

.item_text_3:hover {
    color: #ffffff;
}

.copyright_widget .copyright_text {
    border-top: 1px solid #ffffff;
    padding: 25px 0;
}
