.faq-floating-1 {
    max-width: 260px !important;
    position: absolute;
    top: 5px;
    right: -67%;
}


.text-blue {
    color: #044bd9!important;
}


#view-more-faqs {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #29281E;
}

#view-more-faqs-bayaran {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #29281E;
}



.faq_banner_main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* min-height: 520px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 70px 115px; */
  background-size: cover; /* Updated to cover */
  background-repeat: no-repeat;
  background-position: center;
  height: 38vh;

  padding-top: 35px;
    padding-bottom: 50px;
}



.banner_description {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    
    margin: 2em;
}

.faq-floating-2 {
    max-width: 260px !important;
    position: absolute;
    top: -286px;
    right: 100%;
}

@media (min-width: 1600px) {
    .faq-floating-1 {
        max-width: 260px !important;
        position: absolute;
        top: 31px;
        right: -122%;
    }

    .faq-floating-2 {
        max-width: 260px !important;
        position: absolute;
        top: -354px;
        right: 76%;
    }
}

@media (max-width: 500px) { 
    .page_title_faq {
        font-size: 35px;
        line-height: 45px;
        font-weight: 700;
    }

    .faq_container {
        padding: 0 5vh;
    }

    .about_banner_faq {
        height: 60vh!important;
     }

     .center-mobile-faq {
        margin-top: -49vh;
        padding: 0 45px;
     }

     .faq_banner_main{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* min-height: 520px; */
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* padding: 70px 115px; */
        background-size: cover; /* Updated to cover */
        background-repeat: no-repeat;
        background-position: center;
        height: 30vh;
    }

    .section_heading .heading_description {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    }

    .accordion {
    font-size: 15px;
    line-height: 24px;
    }

    .accordion p{
    font-size: 15px;
    line-height: 24px;
    }

    .accordion .accordion-button {
        font-size: 20px;
        line-height: 22px;
    }

    body {
        font-size: 15px;
    }

    .faq-btn-text {
        font-size: 18px;
        align-items: center;
        margin: 20px 0px;
    }

    /* faq test */

    /* Sticky question under header */
  .faq-system .accordion-button {
    /* position: sticky;
    top: 30vh;  */
    z-index: 5;
    /* background: #fff; */
  }

  /* Scrollable answer */
  .faq-answer-scroll {
    max-height: 60vh; /* sweet spot */
    overflow-y: auto;
    padding-right: 10px;
  }

  /* smoother reading */
  .faq-answer-scroll {
    line-height: 1.6;
    font-size: 15px;
  }
    
    /* faq test end */

    .section_heading .heading_text {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 18px;
    }


    .banner-mohon-big-title {
        font-size: 25px!important;
        margin-left: 4vw!important;
        margin-right: 4vw!important;
    }

    .banner-mohon-description {
        font-family: "Work Sans", sans-serif;
        font-size: 15px!important;
    }
     
}

@media (max-width: 425px) {
    .center-mobile-faq {
        margin-top: -53vh;
        padding: 15px;
    }
}

@media (max-width: 376px) {
    .center-mobile-faq {
        margin-top: -67vh;
        padding: 10px;
    }
}


.banner-mohon-big-title {
    font-size: 60px;
    font-weight: 800;
    color: rgb(66, 65, 67) !important;
}

.banner-mohon-description {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
}

.section_contact_us_lg {
    
    height: 38vh;
}