.faq-floating-1 {
    max-width: 260px !important;
    position: absolute;
    top: 5px;
    right: -67%;
}

#view-more-faqs {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #29281E;
}

#view-more-faqs-bayaran {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #29281E;
}

/* ------------------ Button Semak Kelayakan at Top Navbar ----------------------- */
.btn_semak_layak {
  z-index: 3;
  color: #044BD9;
  background-color: #ffffff;
  border-radius: 45px;
  letter-spacing: 1px;
  padding: 10px;
  margin-left: -10px;
  overflow: hidden;
  position: relative;
  border: 2px solid #044BD9;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: rgba(31, 29, 13, 0.09) 2px 2px 30px, #044BD9 4px 4px 0px 0px;
  transition: all 0.3s ease-in-out;
  will-change: transform;
}

.btn_semak_layak span small {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  z-index: 2;
}

/* Shimmer Effect Animation */
/* .btn_semak_layak::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
      120deg,
      transparent 30%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 70%
  );
  transition: all 0.6s ease-in-out;
  animation: shimmerMove 10s infinite linear;
  will-change: transform;
} */

/* Keyframes to make shimmer loop */
@keyframes shimmerMove {
  0% {
      left: -150%;
  }
  100% {
      left: 150%;
  }
}

/* Pause shimmer animation on hover */
.btn_semak_layak:hover::before {
  animation-play-state: paused;
}

/* Slight scale & color change on hover */
.btn_semak_layak:hover {
  transform: scale(1.08);
  border-color: #044BD9;
  box-shadow: 0px 15px 35px rgba(22, 39, 166, 0.5);
}

@media (max-width: 500px) {
  .btn_semak_layak {
      letter-spacing: 0px;
  }

  .btn_semak_layak span small {
      font-size: 13px;
      line-height: 15px;
  }
}
/* ------------------ Button Semak Kelayakan at Top Navbar ----------------------- */

.faq_banner_main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 520px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 70px 115px; */
  background-size: cover; /* Updated to cover */
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

.faq-floating-2 {
    max-width: 260px !important;
    position: absolute;
    top: -286px;
    right: 100%;
}

@media (min-width: 1600px) {
    .faq-floating-1 {
        max-width: 260px !important;
        position: absolute;
        top: 31px;
        right: -122%;
    }

    .faq-floating-2 {
        max-width: 260px !important;
        position: absolute;
        top: -354px;
        right: 76%;
    }
}

@media (max-width: 500px) { 
    .page_title_faq {
        font-size: 35px;
        line-height: 45px;
        font-weight: 700;
    }

    .about_banner {
        height: 500px !important;
     }

     .center-mobile-faq {
        margin-top: -49vh;
        padding: 0 45px;
     }
}

@media (max-width: 425px) {
    .center-mobile-faq {
        margin-top: -53vh;
        padding: 15px;
    }
}

@media (max-width: 376px) {
    .center-mobile-faq {
        margin-top: -67vh;
        padding: 10px;
    }
}
