/* Header */
.site_header {
    position: fixed;
    left: 8vw;
    right: 8vw;
    padding: 22px 0;
    background: #044BD9;
}

.site-header-logo {
    height: 100px !important;
}

.site_header_2 .container {
    padding-top: 0;
}

.bg-red-1 {
    background-color: #f20505;
    min-height: 17px;
}

/* .main_menu_list {
    column-gap: 33px;
} */

.main_menu_list .dropdown-menu > li:hover > a,
.main_menu_list .dropdown-menu > li.active > a {
    background-color: #F20505;
    color: white;
}
.main_menu_list .dropdown-menu > li:hover > a:before {
    background: white;
}

.main_menu_list .dropdown-menu > li > a:before {
  display: none;
}
.font-ramai {
    font-size: 48px;
    margin-top: 35px;
}

.item_title_perkhidmatan {
    margin-bottom: 22px;
}

.btn-home-2 span small {
    padding: 10px 0;
}

.service-item-img {
    height: 115% !important;
    width: auto;
}

.mtn-30 {
    margin-top: -30px;
}

.border-radius-5 {
    border-radius: 5px;
}

.testimonial-deco-item {
    position: absolute;
    top: -15%;
    left: -8%;
}

.site-footer-logo {
    height: 142px !important;
    width: auto;
}

.cta_home h2 {
    font-size: 2.2rem;
}

.cta_home_new {
    display: flex;
    justify-content: space-evenly;
}

@media (min-width: 992px) {
    .col-cara-1 {
        padding-left: 55px;
    }
}

@media (min-width: 1601px) {
    .banner_image_2 .image_wrap_11 {
        display: block;
        bottom: -22vh;
        right: -18%;
    }

    .perkhidmatan-padding {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 120px !important;
    }

    .banner-mohon-description {
        font-family: 'Work Sans', sans-serif;
        font-size: 20px !important;
        width: 900px;
        max-width: 900px !important;
        line-height: 30px !important;
    }

    .hero_banner.style_3 {
        height: 92vh;
    }
}

@media (max-width: 991px) {
    .main_menu_inner {
        background-color: #044bd9;
    }

    .site_logo {
        display: none;
    }

    /* .site-header-mobile-logo {
        height: 86px !important;
    } */

    .banner_description {
        min-width: 100px !important;
    }

    .deco-item-2 {
        display: none;
    }

    .testimonial-deco-item {
        display: none;
    }

    .site_header.sticky {
        background-color: #044bd9 !important;
    }

    .banner-mohon-big-title {
        line-height: 50px;
        margin-bottom: 30px !important;
    }

    .font-increase-1 {
        margin-bottom: 10px !important;
    }

    .service_item .item_title {
        font-size: 38px;
        margin-bottom: 35px;
    }

    .service_item .item_content {
        margin-top: 25px;
    }

    .service-item-img {
        height: 95% !important;
    }

    .perkhidmatan-padding {
        padding: 50px 30px !important;
    }

    .font-ramai {
        font-size: 26px;
        margin-top: 35px;
        text-align: center;
    }

    .site-footer-logo {
        width: auto;
    }

    .faq-btn-text {
        margin-bottom: 15px;
    }

    .triangle-right {
        margin-top: 20px;
    }
}

@media (max-width: 500px) { 
    .site_header {
        padding: 16px 0 !important;
    }

    .hero_banner.style_2 {
        height: 380px;
        padding-left: 19px;
        padding-right: 19px;
    }

    .banner-mohon-big-title {
        font-size: 26px;
        line-height: 32px;
    }

    .banner_description {
        font-size: 14px !important;
        line-height: 22px !important;
    }

    .banner_image_2 .child_image .layer {
        max-width: 180px;
    }

    .banner_image_2 .image_wrap_11 {
        display: block;
        bottom: -67px;
        right: -20%;
        transform: rotate(-36deg);
    }

    .testimonial-deco-item {
        display: block;
        max-width: 142px;
    }

    .testimonial-deco-item {
        position: absolute;
        top: -7%;
        left: -12%;
        z-index: 50;
        transform: rotate(36deg);
    }

    .ml-25s {
        margin-left: 25px;
    }

    .cta_home {
        height: 190px;
        padding: 25px 0px;
    }

    .cta_home h2 {
        font-size: 1.1rem !important;
    }
    
    .carousel_item_home {
        height: 320px !important;
    }

    .testimonial_carousel .slick-dots li button {
        background-color: transparent;
    }

    .section-home-mobile {
        padding-left: 19px;
        padding-right: 19px;
    }

    .text-center-mobile {
        text-align: center;
    }

    .intro_video_section {
        padding-bottom: 42px;
    }

    .section-space-md-1 {
        padding-top: 42px;
    }

    .section_space_lg {
        padding-top: 42px !important;
        padding-bottom: 42px;
    }

    .section_space_faq {
        padding-top: 42px !important;
        padding-bottom: 60px;

        margin: 0px 7vw!important;
    }

    .faq_section .accordion .accordion-button {
        font-size: 20px;
    }

    .faq-btn-text {
        margin-bottom: 22px;
        font-size: 25px;
        justify-content: center;
    }

    .testimonial_carousel .slick-arrow {
        display: block !important;
    }

    .ml-10s {
        margin-left: 10px !important;
    }

    .mln-10s {
        margin-left: -10px !important;
    }

    .font-increase-3 {
        font-size: 26px;
    }

    .mobile_menu_btn {
        color: #ffffff;
    }

    .mobile_menu_btn:hover {
        color: #ffffff;
    }

    .main_menu {
        left: 8vw;
        right: 8vw;
        top: 90px !important;
    }

    .main_menu_inner {
        border-radius: 5px;
    }

    .main_menu_list .dropdown-menu {
        border: 2px solid #044bd9;
    }
}

/* Footer */
.site_footer .footer_widget_area {
    padding: 80px 0 60px;
}

.item_text_1 {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.item_text_2 {
    font-size: 14px;
}

.item_text_3 {
    font-size: 14px;
    color: #C8C8C8;
}

.item_text_3:hover {
    color: #ffffff;
}

.copyright_widget .copyright_text {
    border-top: 1px solid #ffffff;
    padding: 25px 0;
}


@media (max-width: 500px) { 
  
    /* footer start */
    .site_footer .site_logo {
        margin-bottom: 5px;
        margin-left: 35px;
        margin-right: 10px;
    }

    .site_footer p {
        margin-bottom: 5px;
    }

    .site_footer .footer_widget_area {
    padding: 20px 30px;
    }


    /* footer end */
}