/* Header */
.site_header {
    position: fixed;
    left: 8vw;
    right: 8vw;
    padding: 22px 0;
    background: #044BD9;
}

.site-header-logo {
    height: 100px !important;
}

.site_header_2 .container {
    padding-top: 0;
}

.bg-red-1 {
    background-color: #f20505;
    min-height: 17px;
}

/* .main_menu_list {
    column-gap: 33px;
} */

.main_menu_list .dropdown-menu > li:hover > a,
.main_menu_list .dropdown-menu > li.active > a {
    background-color: #2a67e1;
    color: white;
}
.main_menu_list .dropdown-menu > li:hover > a:before {
    background: white;
}

.font-ramai {
    font-size: 48px;
    margin-top: 35px;
}

.item_title_perkhidmatan {
    margin-bottom: 22px;
}

.btn-home-2 span small {
    padding: 10px 0;
}

.service-item-img {
    height: 115% !important;
    width: auto;
}

.border-radius-5 {
    border-radius: 5px;
}

.testimonial-deco-item {
    position: absolute;
    top: -15%;
    left: -8%;
}

.site-footer-logo {
    height: 142px !important;
    width: auto;
}

@media (min-width: 1601px) {
    .banner_image_2 .image_wrap_11 {
        display: block;
        bottom: -22vh;
        right: -18%;
    }

    .perkhidmatan-padding {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 120px !important;
    }
}

@media (max-width: 991px) {
    .main_menu_inner {
        background-color: #044bd9;
    }

    .site_logo {
        display: none;
    }

    /* .site-header-mobile-logo {
        height: 86px !important;
    } */

    .banner_description {
        min-width: 100px !important;
    }

    .deco-item-2 {
        display: none;
    }

    .testimonial-deco-item {
        display: none;
    }

    .site_header.sticky {
        background-color: #044bd9 !important;
    }

    .banner-mohon-big-title {
        line-height: 50px;
        margin-bottom: 30px !important;
    }

    .font-increase-1 {
        margin-bottom: 10px !important;
    }

    .service_item .item_title {
        font-size: 38px;
        margin-bottom: 35px;
    }

    .service_item .item_content {
        margin-top: 25px;
    }

    .service-item-img {
        height: 95% !important;
    }

    .perkhidmatan-padding {
        padding: 50px 30px !important;
    }

    .font-ramai {
        font-size: 26px;
        margin-top: 35px;
        text-align: center;
    }

    .site-footer-logo {
        width: auto;
    }

    .faq-btn-text {
        margin-bottom: 15px;
    }

    .triangle-right {
        margin-top: 20px;
    }
}

@media (max-width: 500px) { 
    .site_header {
        padding: 16px 0 !important;
    }

    .mobile_menu_btn {
        color: #ffffff;
    }

    .mobile_menu_btn:hover {
        color: #ffffff;
    }

    .main_menu {
        left: 8vw;
        right: 8vw;
        top: 90px !important;
    }

    .main_menu_inner {
        border-radius: 5px;
    }

    .main_menu_list .dropdown-menu {
        border: 2px solid #044bd9;
    }
}

/* Footer */
.site_footer .footer_widget_area {
    padding: 80px 0 60px;
}

.item_text_1 {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.item_text_2 {
    font-size: 14px;
}

.item_text_3 {
    font-size: 14px;
    color: #C8C8C8;
}

.item_text_3:hover {
    color: #ffffff;
}

.copyright_widget .copyright_text {
    border-top: 1px solid #ffffff;
    padding: 25px 0;
}
