.d-none{display:none!important}
.p-0{padding:0!important}

/* @font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:100;
  font-display:swap;
  src:url(https://fonts.gstatic.com/s/roboto/v32/KFOiCnqEu92Fr1Mu51QrIzc.ttf)format('truetype')
}
@font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:300;
  font-display:swap;
  src:url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TjARc9.ttf) format('truetype')
}
@font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:400;
  font-display:swap;
  src:url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1Mu52xP.ttf) format('truetype')
  }
@font-face{
  font-family:Roboto;
  font-style:italic;
  font-weight:500;
  font-display:swap;
  src:url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51S7ABc9.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TzBhc9.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:italic;
    font-weight:900;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOjCnqEu92Fr1Mu51TLBBc9.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:100;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype')
}
@font-face{
    font-family:Roboto;
    font-style:normal;
    font-weight:900;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/roboto/v32/KFOlCnqEu92Fr1MmYUtvAw.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:100;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHtv4kjgoGqM7E_CfNYwHo.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:200;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfP04Vop.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfOQ4lop.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHrv4kjgoGqM7E_Ccs8.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfPI41op.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:600;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfPk5Fop.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfOA5Vop.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:800;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfOc5lop.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:italic;
    font-weight:900;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHsv4kjgoGqM7E_CfO451op.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:100;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHrv4kjgoGqM7E3b8s8.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:200;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3w-oc4A.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:300;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3p-kc4A.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:400;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHpv4kjgoGqM7EPCw.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:500;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3_-gc4A.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:600;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:700;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3t-4c4A.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:800;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3q-0c4A.ttf) format('truetype')
}
@font-face{
    font-family:Barlow;
    font-style:normal;
    font-weight:900;
    font-display:swap;
    src:url(https://fonts.gstatic.com/s/barlow/v12/7cHqv4kjgoGqM7E3j-wc4A.ttf) format('truetype')
} */

.decoration_wrap .deco_item{z-index:-1;position:absolute}
.transparent{opacity:.4}
.intro_video_section .shape_img_5{bottom:120px;left:-250px;max-width:300px}
.banner_image_2 .image_wrap_2{top:30px;right:-4%}
.banner_image_2 .image_wrap_7{bottom:20vh;right:-30%}
.banner_image_2 .image_wrap_8{top:-30px;left:0}
.banner_image_2 .image_wrap_9{bottom:18vh;right:-20%}
.banner_image_2 .image_wrap_4{top:20vh;left:15vw}

@media screen and (max-width:991px){
    .header_btns_group>li:first-child{display:inline-block}
    .mobile_menu_btn{font-size:24px;margin-right:10px;-webkit-transform:translateY(2px);transform:translateY(2px)}
    .container,.site_header .container{max-width:730px}
    .main_menu{left:0;right:0;top:95px;z-index:999;position:fixed}
    .main_menu_inner{background-color:#fff;border-bottom:1px solid #d2d2d2}.main_menu_list>li{width:100%;margin:1px 0;display:block}.main_menu_list{margin:auto;padding:15px;max-width:730px}.main_menu_list>li>a{width:100%;display:block}.main_menu_list .dropdown-menu{position:static;-webkit-box-shadow:none;box-shadow:none}.main_menu_list>li>a{font-size:18px;line-height:24px;padding:12px 20px}.main_menu_list .dropdown>a:after{font-size:16px;margin-top:5px}.main_menu_list .dropdown-menu{padding:8px 0}.hero_banner{text-align:center}.hero_banner.style_2 .banner_description{margin:auto auto 30px}.hero_banner.style_2{height:630px}.testimonial_carousel{margin:-3px}.col-banner-image{display:none}.hero_banner .banner_image_2{max-width:500px;margin:20px auto auto}.banner_image_2 .child_image .layer{max-width:180px}.banner_image_2 .image_wrap_2{right:-15%}.banner_image_2 .image_wrap_3{top:24%;right:-30%}.banner_image_2 .image_wrap_4{top:30%;left:-24%}.hero_banner.style_2 .banner_big_title{margin:0 0 20px}}
    
@media screen and (max-width:575px){
    .mobile_menu_btn{margin-right:8px;color:#1f1d0d}.hero_banner .banner_image_2{max-width:400px}.banner_image_2 .child_image .layer{max-width:130px}.banner_image_2 .image_wrap_4{left:-10%}.banner_image_2 .image_wrap_3{right:-18%}.banner_image_2 .image_wrap_2{right:-10%}}
    
@media (max-width:500px){
    .hero_banner.style_2{height:545px}.banner-header-custom-11{height:515px;padding:15px 40px}.carousel_item_home{background-position:top}.banner_big_title{font-size:37px!important;line-height:40px!important}.col-btn-mobile{display:none!important}.btn_warp_home{padding:0;display:none}.hero_banner .banner_big_title{font-weight:700}}
    
.carousel_item_1{
    background-image:url('../images/banner/banner-2.webp')!important;
    background-size:cover!important;
    background-position:center!important;
    background-repeat:no-repeat!important
}

@media screen and (max-width:500px){
    .carousel_item_1{
        background-image:url('../images/banner/Banner-2-mobile.webp')!important;
        background-size:100% 800px!important;
        background-position:top!important;
        background-repeat:no-repeat!important;
        height:800px!important
    }
    .hero_banner.style_2{
        height:585px
    }
    .carousel_item_home{
        height:800px!important
    }
}

:root{--bs-blue:#0d6efd;--bs-indigo:#6610f2;--bs-purple:#6f42c1;--bs-pink:#d63384;--bs-red:#dc3545;--bs-orange:#fd7e14;--bs-yellow:#ffc107;--bs-green:#198754;--bs-teal:#20c997;--bs-cyan:#0dcaf0;--bs-white:#fff;--bs-gray:#6c757d;--bs-gray-dark:#343a40;--bs-primary:#0d6efd;--bs-secondary:#6c757d;--bs-success:#198754;--bs-info:#0dcaf0;--bs-warning:#ffc107;--bs-danger:#dc3545;--bs-light:#f8f9fa;--bs-dark:#212529;--bs-font-sans-serif:system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;--bs-gradient:linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0))}

*,::after,::before{box-sizing:border-box}

@media (prefers-reduced-motion:no-preference){:root{scroll-behavior:smooth}}

body{margin:0;font-family:var(--bs-font-sans-serif);font-size:1rem;font-weight:400;line-height:1.5;color:#212529;background-color:#fff;-webkit-text-size-adjust:100%}h1{margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2}h1{font-size:calc(1.375rem + 1.5vw)}@media (min-width:1200px){h1{font-size:2.5rem}}p{margin-top:0;margin-bottom:1rem}ul{padding-left:2rem}ul{margin-top:0;margin-bottom:1rem}ul ul{margin-bottom:0}small{font-size:.875em}a{color:#0d6efd;text-decoration:underline}img,svg{vertical-align:middle}label{display:inline-block}button{border-radius:0}button,input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}button{text-transform:none}[type=button],button{-webkit-appearance:button}::-moz-focus-inner{padding:0;border-style:none}::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-fields-wrapper,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-text,::-webkit-datetime-edit-year-field{padding:0}::-webkit-inner-spin-button{height:auto}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-color-swatch-wrapper{padding:0}::file-selector-button{font:inherit}::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}.container{width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto}@media (min-width:576px){.container{max-width:540px}}@media (min-width:768px){.container{max-width:720px}}@media (min-width:992px){.container{max-width:960px}}@media (min-width:1200px){.container{max-width:1140px}}.row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5)}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}.col{flex:1 0 0%}.col-2{flex:0 0 auto;width:16.66666667%}.col-5{flex:0 0 auto;width:41.66666667%}@media (min-width:992px){.col-lg-3{flex:0 0 auto;width:25%}.col-lg-6{flex:0 0 auto;width:50%}.col-lg-8{flex:0 0 auto;width:66.66666667%}}.btn{display:inline-block;font-weight:400;line-height:1.5;color:#212529;text-align:center;text-decoration:none;vertical-align:middle;background-color:transparent;border:1px solid transparent;padding:.375rem .75rem;font-size:1rem;border-radius:.25rem}.collapse:not(.show){display:none}.dropdown{position:relative}.dropdown-menu{position:absolute;z-index:1000;display:none;min-width:10rem;padding:.5rem 0;margin:0;font-size:1rem;color:#212529;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid rgba(0,0,0,.15);border-radius:.25rem}.nav-link{display:block;padding:.5rem 1rem;color:#0d6efd;text-decoration:none}.navbar{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding-top:.5rem;padding-bottom:.5rem}.navbar-collapse{flex-basis:100%;flex-grow:1;align-items:center}@media (min-width:992px){.navbar-expand-lg{flex-wrap:nowrap;justify-content:flex-start}.navbar-expand-lg .navbar-collapse{display:flex!important;flex-basis:auto}}.accordion-item:last-of-type .accordion-collapse{border-bottom-right-radius:.25rem;border-bottom-left-radius:.25rem}.accordion-body{padding:1rem 1.25rem}.d-block{display:block!important}.d-flex{display:flex!important}.w-100{width:100%!important}.justify-content-end{justify-content:flex-end!important}.justify-content-center{justify-content:center!important}.align-items-center{align-items:center!important}.mb-0{margin-bottom:0!important}.pt-0{padding-top:0!important}.pb-0{padding-bottom:0!important}.text-center{text-align:center!important}.text-white{color:#fff!important}@media (min-width:992px){.d-lg-none{display:none!important}}body{margin:0;padding:0;font-size:16px;font-weight:400;line-height:1.65;font-style:normal;color:#29281e;font-family:Roboto,sans-serif;text-rendering:optimizelegibility;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased}.page_wrapper{overflow:hidden;position:relative}input{outline:0}img:not([draggable]){height:auto;max-width:100%}img{border:none;height:auto;max-width:100%;vertical-align:middle}a{outline:0;display:inline-block;text-decoration:none}a:visited{outline:0;text-decoration:none}button{padding:0;border:none;outline:0;background:0 0;display:inline-block}h1{font-weight:700;color:#1f1d0d;font-family:Barlow,sans-serif}.container{max-width:1200px;padding-left:15px;padding-right:15px}.row{margin:-15px}.col{-webkit-box-flex:unset;-ms-flex:unset;flex:unset;padding:15px}.dropdown-menu{border:none;margin-top:20px;border-radius:0;background-color:#fff;-webkit-box-shadow:0 3px 7px 0 rgba(0,0,0,.1);box-shadow:0 3px 7px 0 rgba(0,0,0,.1);-webkit-animation:.3s ease-in-out fadeInUp;animation:.3s ease-in-out fadeInUp}.dropdown-menu:before{left:0;right:0;top:-20px;content:"";height:20px;display:block;position:absolute}.layer{position:relative!important}.backtotop{right:15px;z-index:999;bottom:80px;display:none;position:fixed}.backtotop .scroll{z-index:1;width:40px;height:40px;display:-webkit-box;display:-ms-flexbox;display:flex;font-size:14px;position:relative;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:100%;color:#000;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background-color:#fff;-webkit-box-shadow:0 10px 33.25px 1.75px rgba(0,0,0,.15);box-shadow:0 10px 33.25px 1.75px rgba(0,0,0,.15)}.btn_wrap{padding:44px 0}.btn{border:none;line-height:1;padding:0 40px;overflow:hidden;position:relative;color:#fff;border:2px solid transparent;border-radius:100px}.btn span{position:relative;display:inline-block}.btn span small{display:block;padding:16px 0;font-size:18px;font-weight:600;line-height:24px}.btn span small:nth-child(2){left:50%;top:100%;opacity:0;width:100%;position:absolute;-webkit-transform:translateX(-50%);transform:translateX(-50%)}@media screen and (max-width:500px){.btn_wrap{padding:44px 0}.btn{border:none;line-height:1;padding:0 30px;overflow:hidden;position:relative;color:#fff;border:2px solid transparent;border-radius:100px}.btn span{position:relative;display:inline-block}.btn span small{display:block;padding:10px 0;font-size:18px;font-weight:600;line-height:24px}.btn span small:nth-child(2){left:50%;top:100%;opacity:0;width:100%;position:absolute;-webkit-transform:translateX(-50%);transform:translateX(-50%)}}.btn.border_dark{color:#1f1d0d;border-color:#1f1d0d}.btn.border_new{color:#1068b2;background-color:#fff;border-color:#1068b2}.btn.border_blue{color:#1068b2;border-color:#1068b2}.unordered_list_center,.unordered_list_end{margin:0;padding:0;display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.unordered_list_center>li,.unordered_list_end>li{float:left;list-style:none;display:inline-block}.unordered_list_center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.unordered_list_end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.carousel_arrow{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.carousel_arrow button{width:40px;height:40px;overflow:hidden;position:relative;color:#1f1d0d;border-radius:100%;background:#fff;border:1px solid #d2d2d2}.carousel_arrow button:not(:last-child){margin-right:8px}.carousel_arrow button i{top:50%;font-size:16px;margin-top:1px;position:absolute;color:#1f1d0d}.carousel_arrow button:nth-child(1) i:nth-child(1){left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.carousel_arrow button:nth-child(1) i:nth-child(2){left:110%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}.carousel_arrow button:nth-child(2) i:nth-child(1){left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.carousel_arrow button:nth-child(2) i:nth-child(2){left:-110%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}:-moz-placeholder{color:rgba(31,29,13,.5)}::-moz-placeholder{color:rgba(31,29,13,.5)}:-ms-input-placeholder{color:rgba(31,29,13,.5)}::-webkit-input-placeholder{color:rgba(31,29,13,.5)}.loan-calculator .calculate-btn{font-weight:600;font-size:15px;letter-spacing:1px;display:inline-block;margin-top:10px;color:grey;padding:8px 28px;border-radius:25px;background:0 0;border-width:2px;border-style:solid;border-color:grey;border-image:initial;display:none}@media (max-width:376px){.carousel_item_home{background-position:unset!important}}@media (max-width:500px){.site_header{padding:0!important}.site_header_1+main{padding-top:83px!important}}.carousel_item_1,.hero_banner.style_2{background-image:contain}.carousel_item_home{background-repeat:no-repeat;background-size:cover;background-position:center center}.banner_big_title .highlight-word{position:relative;display:inline-block;z-index:1;color:#1f1d0d;padding:0 5px}.banner_big_title .highlight-word::before{content:"";position:absolute;bottom:0;left:0;right:0;height:70%;background-size:contain;z-index:-1}:root{--warna-background:#4dc247;--warna-bg-chat:#f0f5fb;--warna-icon:#fff;--warna-text:#505050;--warna-text-alt:#989b9f;--lebar-chatbox:320px}.sticky-button{position:fixed;background-color:var(--warna-background);bottom:20px;left:20px;width:55px;height:55px;border-radius:50px;box-shadow:0 2px 5px 0 rgba(0,0,0,.1);z-index:20;overflow:hidden}.sticky-button label{display:flex;align-items:center;width:55px;height:55px}.sticky-button label svg{margin:auto;fill:var(--warna-icon)}.sticky-button label svg.svg-2{display:none}.sticky-chat{position:fixed;bottom:70px;left:20px;width:var(--lebar-chatbox);z-index:21;opacity:0;visibility:hidden;line-height:normal}.chat-menu{display:none}.sticky-chat .chat-button{display:flex;align-items:center;margin-top:15px;padding:12px 20px;border-radius:10px;background-color:#fff;box-shadow:0 2px 5px 0 rgba(0,0,0,.05);overflow:hidden;font-size:12px;color:var(--warna-text)}.sticky-chat .chat-button svg{width:20px;height:20px;fill:var(--warna-text-alt);margin-left:auto;transform:rotate(40deg);-webkit-transform:rotate(40deg)}.accordion .accordion-body{padding:20px 0 0}.accordion p{font-size:16px;line-height:24px}.hero_banner .banner_big_title{font-size:65px;font-weight:800;line-height:68px;color:#1068b2;margin-bottom:20px}.hero_banner .banner_description{font-size:16px;line-height:24px;color:#0c0c0c;margin-bottom:40px}.hero_banner :-moz-placeholder{color:#444}.hero_banner ::-moz-placeholder{color:#444}.hero_banner :-ms-input-placeholder{color:#444}.hero_banner ::-webkit-input-placeholder{color:#444}.hero_banner.style_2{padding:152px 0 100px}@media screen and (max-width:500px){.hero_banner.style_2{padding:none}.banner_big_title{font-size:37px!important;line-height:45px!important}.banner_description{font-size:15px!important}}@media screen and (max-width:450px){.carousel_item_1,.hero_banner.style_2{background-image:contain}.hero_banner.style_2{padding:none;margin-top:0}}.hero_banner.style_2 .banner_big_title{margin-right:-30px}.hero_banner.style_2 .banner_big_title,.hero_banner.style_2 .banner_description{color:#1f1d0d}.hero_banner.style_2 .banner_description{max-width:500px}.banner_image_2{position:relative}.banner_image_2 .child_image{z-index:1;position:absolute}.banner_image_2 .child_image .layer{max-width:260px;overflow:hidden;border-radius:8px}.banner_image_2 .child_image .layer:before{top:10px;left:10px;right:10px;bottom:10px;z-index:1;content:"";position:absolute;background-size:100% 100%;background-repeat:no-repeat;background-position:center center}.banner_image_2 .image_wrap_3{bottom:18vh;right:3%}.testimonial_carousel{margin:-15px}.blog_small .item_author{line-height:1;display:block;color:#29281e;margin-bottom:8px}.site_header{top:0;left:0;right:0;z-index:99;padding:20px 0 0;position:absolute;background:#fff;line-height:4}.site_header .container{max-width:1430px}.main_menu{padding:0}.main_menu_list>li{margin:0 1px;line-height:1;font-size:16px}.main_menu_list>li>a{z-index:1;font-size:17px;font-weight:500;line-height:23px;color:#1f1d0d;position:relative;-webkit-box-align:center;-ms-flex-align:center;align-items:center;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;padding:9px 20px 8px;font-family:Roboto,sans-serif;border-radius:8px}.main_menu_list .dropdown>a{position:relative}.main_menu_list .dropdown>a:after{float:right;line-height:1;font-size:14px;content:"\f107";font-weight:400;margin-top:2px;margin-left:5px;font-family:"Font Awesome 5 Pro"}.main_menu_list .dropdown-menu{top:100%;display:none;margin:2px 0 0;padding:14px 0;-webkit-animation:unset;animation:unset;min-width:210px;inset:100% auto auto auto;border-radius:8px;border:2px solid #1f1d0d;-webkit-box-shadow:-6px 6px 0 0 #101213;box-shadow:-6px 6px 0 0 #101213}.main_menu_list .dropdown-menu:before{top:-4px;height:2px}.main_menu_list .dropdown-menu>li:not(:last-child){margin-bottom:1px}.main_menu_list .dropdown-menu>li>a{display:block;line-height:1;font-size:16px;font-weight:500;color:#29281e;position:relative;white-space:nowrap;padding:14px 30px 12px 32px}.main_menu_list .dropdown-menu>li>a:before{top:19px;left:20px;width:4px;height:4px;content:"";opacity:.7;position:absolute;border-radius:100%;background-color:#1f1d0d}.main_menu_list .dropdown-menu .dropdown>a:after{margin-top:1px;content:"\f105"}.header_btns_group>li{margin-left:14px}.header_btns_group>li:first-child{display:none}.site_header_1+main{padding-top:110px}.site_header_2 .container{max-width:1200px}.site_footer .blog_small .item_author{display:none}@media screen and (max-width:1199px){.hero_banner .banner_big_title{font-size:54px;line-height:58px}.main_menu_list>li>a{padding:9px 16px 8px}}@media screen and (max-width:1024px){.main_menu_list>li>a{font-size:16px;line-height:22px;padding:7px 14px 6px}.header_btns_group>li{margin-left:8px}}@media screen and (max-width:991px){.header_btns_group>li:first-child{display:inline-block}.mobile_menu_btn{font-size:24px;margin-right:10px;-webkit-transform:translateY(2px);transform:translateY(2px)}.container,.site_header .container{max-width:730px}.main_menu{left:0;right:0;top:95px;z-index:999;position:fixed}.main_menu_inner{background-color:#fff;border-bottom:1px solid #d2d2d2}.main_menu_list>li{width:100%;margin:1px 0;display:block}.main_menu_list{margin:auto;padding:15px;max-width:730px}.main_menu_list>li>a{width:100%;display:block}.main_menu_list .dropdown-menu{position:static;-webkit-box-shadow:none;box-shadow:none}.main_menu_list>li>a{font-size:18px;line-height:24px;padding:12px 20px}.main_menu_list .dropdown>a:after{font-size:16px;margin-top:5px}.main_menu_list .dropdown-menu{padding:8px 0}.hero_banner{text-align:center}.hero_banner.style_2 .banner_description{margin:auto auto 30px}.hero_banner.style_2{height:630px}.testimonial_carousel{margin:-3px}.col-banner-image{display:none}.hero_banner .banner_image_2{max-width:500px;margin:20px auto auto}.banner_image_2 .child_image .layer{max-width:180px}.banner_image_2 .image_wrap_3{top:24%;right:-30%}.hero_banner.style_2 .banner_big_title{margin:0 0 20px}}@media screen and (max-width:767px){.header_btns_group{margin-left:-100px}.btn_wrap{padding:30px 0}}@media screen and (max-width:575px){.mobile_menu_btn{margin-right:8px;color:#1f1d0d}.hero_banner .banner_image_2{max-width:400px}.banner_image_2 .child_image .layer{max-width:130px}.banner_image_2 .image_wrap_3{right:-18%}}@media screen and (max-width:425px){.mobile_menu_btn{margin-right:6px;font-size:20px}.header_btns_group>li{margin-left:4px}.site_header{padding:20px 0}.main_menu{top:80px}.site_header_1+main{padding-top:82px}.hero_banner .banner_big_title{font-size:42px;line-height:44px}.backtotop{bottom:100px}}@media screen and (max-width:375px){.banner_image_2 .child_image .layer{max-width:100px}.main_menu{top:77px}}@media screen and (max-width:320px){.main_menu{top:73px}}.hero_banner.style_2{height:100vh}@media (max-width:500px){.hero_banner.style_2{height:545px}.banner-header-custom-11{height:515px;padding:15px 40px}.carousel_item_home{background-position:top}.banner_big_title{font-size:37px!important;line-height:40px!important}.btn_warp_home{padding:0;display:none}.hero_banner .banner_big_title{font-weight:700}}@media (max-width:425px){.banner-header-custom-11{height:555px;padding:15px 40px}.banner_big_title{font-size:35px!important;line-height:40px!important}.hero_banner.style_2{height:555px}}@media (max-width:376px){.banner-header-custom-11{height:555px;padding:15px 30px}.hero_banner.style_2{height:570px!important}.banner_big_title{font-size:31px!important;line-height:37px!important}}